body {
    background-color: rgb(4, 18, 22);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  h2 {
    color: white;
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #555;
  }

  nav {
    color: white;
    font-family: verdana;
    font-size: 14px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }

  p {
    color: white;
    font-family: verdana;
    font-size: 14px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 75px;
  }

  footer {
      color: white;
      font-family: verdana;
      font-size: 12px;
  }

